# --- Environment Variables & Virtual Environment ---
.env
.venv/

# Local Output Folders - Demo MFR Site
src/demo_mfr_site/pipeline_output/json
src/demo_mfr_site/pipeline_output/images

# --- Python ---
__pycache__/
secrets.py

# --- Data ---
data/

# --- Logs & Cache ---
*.log
*.out
*.err
.cache/

# --- OS ---
.DS_Store
Thumbs.db

# Claude Code

*/.claude/*

# Temporary crawl runtime artifacts
.crawl4ai_runtime/