# Core


# Web Scraping


# Image Processing


# Machine Learning
pandas
openpyxl
#torch
#torch torchvision
#Check torch documentation to determine correct installation for torch and torchvision

Pillow

# Utilities


# 
